/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  background: rgb(255 255 255);
  color: #444;
  font-family: "Open Sans", sans-serif;
}

a {
  color: #007f15;
  text-decoration: none;
  transition: 0.5s;
}

a:hover, a:active, a:focus {
  color: #0b6bd3;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
.navbar {
  padding: 0;
}

.navbar a, .navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  color: var(--color-secundario);
  font-weight: 500;
  white-space: nowrap;
  transition: 0.3s;
}


/*--------------------------------------------------------------
# Nuevo Registro
--------------------------------------------------------------*/
#Nuevo_Registro {
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  padding: 60px 0;
  overflow: hidden;
}

#Nuevo_Registro .section-header {
  padding-bottom: 30px;
}

#Nuevo_Registro .contact-about h3 {
  font-size: 36px;
  margin: 0 0 10px 0;
  padding: 0;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #007f15;
}

#Nuevo_Registro .contact-about p {
  font-size: 14px;
  line-height: 24px;
  font-family: "Montserrat", sans-serif;
  color: #888;
}

#Nuevo_Registro .social-links {
  padding-bottom: 20px;
}

#Nuevo_Registro .social-links a {
  font-size: 18px;
  display: inline-block;
  background: rgb(255 255 255);
  color: #007f15;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  border: 1px solid #007f15;
}

#Nuevo_Registro .social-links a:hover {
  background: #007f15;
  color: rgb(255 255 255);
}

#Nuevo_Registro .info {
  color: #002312;
}

#Nuevo_Registro .info i {
  font-size: 32px;
  color: #007f15;
  float: left;
  line-height: 0;
}

#Nuevo_Registro .info p {
  padding: 0 0 10px 36px;
  line-height: 28px;
  font-size: 14px;
}

#Nuevo_Registro .error-message {
  display: none;
  color: rgb(255 255 255);
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

#Nuevo_Registro .error-message br + br {
  margin-top: 25px;
}

#Nuevo_Registro .sent-message {
  display: none;
  color: rgb(255 255 255);
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

#Nuevo_Registro .loading {
  display: none;
  background: rgb(255 255 255);
  text-align: center;
  padding: 15px;
}

#Nuevo_Registro .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

#Nuevo_Registro input, #Nuevo_Registro textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

#Nuevo_Registro input:focus, #Nuevo_Registro textarea:focus {
  border-color: #007f15;
}

#Nuevo_Registro input {
  padding: 10px 15px;
}

#Nuevo_Registro textarea {
  padding: 12px 15px;
}

#Nuevo_Registro button[type="submit"] {
  background: #007f15;
  border: 0;
  border-radius: 20px;
  padding: 8px 30px;
  color: rgb(255 255 255);
  transition: 0.3s;
}

#Nuevo_Registro button[type="submit"]:hover {
  background: #00d51c;
  cursor: pointer;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
