:root {
  --color-white: rgb(255 255 255);

  --color-primario: #007f15;
  --color-secundario: #00d51c;

  --color-footer-primario: rgb(0 153 91 / 0.5);
  --color-footer-secundario: rgb(0 138 64 / 65%);

  --color-title: #002312;

  --color-porfolio-individual-background: rgb(1 128 0 / 70%);
  
  --color-background-individual-team: rgba(1 128 0 / 70%);
}


/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  background: var(--color-white);
  color: #444;
  font-family: "Open Sans", sans-serif;
}

a {
  color: var(--color-primario);
  text-decoration: none;
  transition: 0.5s;
}

a:hover, a:active, a:focus {
  color: #0b6bd3;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 80px;
  z-index: 997;
  transition: all 0.5s;
  background: var(--color-white);
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3);
}

#header.header-scrolled {
  height: 60px;
}

#header .logo h1 {
  font-size: 36px;
  margin: 0;
  padding: 0;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

@media (max-width: 991px) {
  #header .logo h1 {
    font-size: 28px;
  }
}

#header .logo h1 a, #header .logo h1 a:hover {
  color: #00366f;
  text-decoration: none;
}

#header .logo img {
  padding: 0;
  max-height: 85px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a, .navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: var(--color-secundario);
  font-weight: 500;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i, .navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
  color: var(--color-primario);
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: var(--color-white);
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  text-transform: none;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
  color: var(--color-primario);
}

.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}


/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
section {
  overflow: hidden;
}

/* Sections Header
--------------------------------*/
.section-header h3 {
  font-size: 36px;
  color: var(--color-title);
  text-align: center;
  font-weight: 500;
  position: relative;
}

.section-header p {
  text-align: center;
  margin: auto;
  font-size: 15px;
  padding-bottom: 60px;
  color: #556877;
  width: 50%;
}

@media (max-width: 767px) {
  .section-header p {
    width: 100%;
  }
}

/* Section with background
--------------------------------*/
.section-bg {
  background: #ecf5ff;
}

/* Services Section
--------------------------------*/
#services {
  padding: 60px 0 40px 0;
  box-shadow: inset 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
}

#services .box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  margin: 0 10px 40px 10px;
  background: var(--color-white);
  box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
  transition: all 0.3s ease-in-out;
}

#services .box:hover {
  transform: translateY(-5px);
}

#services .icon {
  position: absolute;
  left: -15px;
  top: calc(50% - 32px);
}

#services .icon i {
  font-size: 64px;
  line-height: 0;
  transition: 0.5s;
}

#services .title {
  margin-left: 40px;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

#services .title a {
  color: #111;
}

#services .box:hover .title a {
  color: var(--color-primario);
}

#services .description {
  font-size: 14px;
  margin-left: 40px;
  line-height: 24px;
  margin-bottom: 0;
}

#why-us {
  padding: 60px 0;
  background: var(--color-footer-primario);
}

#why-us .section-header h3, #why-us .section-header p {
  color: var(--color-white);
}

#why-us .card {
  background: #00458f;
  border-color: #00458f;
  border-radius: 10px;
  margin: 0 15px;
  padding: 15px 0;
  text-align: center;
  color: var(--color-white);
  transition: 0.3s ease-in-out;
  height: 100%;
}

@media (max-width: 991px) {
  #why-us .card {
    margin: 0;
  }
}

#why-us .card:hover {
  background: #003b7a;
  border-color: #003b7a;
}

#why-us .card i {
  font-size: 48px;
  padding-top: 15px;
  color: #bfddfe;
}

#why-us .card h5 {
  font-size: 22px;
  font-weight: 600;
}

#why-us .card p {
  font-size: 15px;
  color: #d8eafe;
}

#why-us .card .readmore {
  color: var(--color-white);
  font-weight: 600;
  display: inline-block;
  transition: 0.3s ease-in-out;
  border-bottom: #00458f solid 2px;
}

#why-us .card .readmore:hover {
  border-bottom: var(--color-white) solid 2px;
}

#why-us .counters {
  padding-top: 40px;
}

#why-us .counters span {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 48px;
  display: block;
  color: var(--color-white);
}

#why-us .counters p {
  padding: 0;
  margin: 0 0 20px 0;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #cce5ff;
}

/* Inner-Page Nuevo Registro Section
--------------------------------*/
#Nuevo_Registro {
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  padding: 60px 0;
  overflow: hidden;
}

#Nuevo_Registro .section-header {
  padding-bottom: 30px;
}

#Nuevo_Registro .contact-about h3 {
  font-size: 36px;
  margin: 0 0 10px 0;
  padding: 0;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: var(--color-primario);
}

#Nuevo_Registro .contact-about p {
  font-size: 14px;
  line-height: 24px;
  font-family: "Montserrat", sans-serif;
  color: #888;
}

#Nuevo_Registro .social-links {
  padding-bottom: 20px;
}

#Nuevo_Registro .social-links a {
  font-size: 18px;
  display: inline-block;
  background: var(--color-white);
  color: var(--color-primario);
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  border: 1px solid var(--color-primario);
} /* */

#Nuevo_Registro .social-links a:hover {
  background: var(--color-primario);
  color: var(--color-white);
}

#Nuevo_Registro .info {
  color: var(--color-title);
}

#Nuevo_Registro .info i {
  font-size: 32px;
  color: var(--color-primario);
  float: left;
  line-height: 0;
}

#Nuevo_Registro .info p {
  padding: 0 0 10px 36px;
  line-height: 28px;
  font-size: 14px;
}

#Nuevo_Registro .error-message {
  display: none;
  color: var(--color-white);
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

#Nuevo_Registro .error-message br + br {
  margin-top: 25px;
}

#Nuevo_Registro .sent-message {
  display: none;
  color: var(--color-white);
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

#Nuevo_Registro .loading {
  display: none;
  background: var(--color-white);
  text-align: center;
  padding: 15px;
}

#Nuevo_Registro .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

#Nuevo_Registro input, #Nuevo_Registro textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

#Nuevo_Registro input:focus, #Nuevo_Registro textarea:focus {
  border-color: var(--color-primario);
}

#Nuevo_Registro input {
  padding: 10px 15px;
}

#Nuevo_Registro textarea {
  padding: 12px 15px;
}

#Nuevo_Registro button[type="submit"] {
  background: var(--color-primario);
  border: 0;
  border-radius: 20px;
  padding: 8px 30px;
  color: var(--color-white);
  transition: 0.3s;
}

#Nuevo_Registro button[type="submit"]:hover {
  background: var(--color-secundario);
  cursor: pointer;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}